# Copy to prod.env and fill in real values. prod.env is gitignored.
VPC_ID=vpc-uf65806lcuh5b43szs1db
VSWITCH_ID=vsw-uf6fcm08qor78wfioz1c2
SECURITY_GROUP_ID=sg-uf6bl327dijrauls3ism
DATABASE_SUPERUSER_URL=postgresql://postgres:POSTGRES_PASSWORD@172.23.212.135:5432/docbase